.dashboard-header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-sizing: border-box;
}

.links {
  margin: 0 2rem;
}

.links > * {
  margin: 1.5rem;
  text-decoration: none;
  color: black;
}

.logo {
  height: 2rem;
  padding: 0.5rem;
  margin-left: 2rem;
  margin-right: auto;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

.profile > * {
  margin: 0.5rem;
}

.profile-icon {
  height: 3.5rem;
  border-radius: 100%;
}
